[submodule "scripts/dtc-aosp/dtc"]
	path = scripts/dtc-aosp/dtc
	url = https://android.googlesource.com/platform/external/dtc
[submodule "fs/exfat"]
	path = fs/exfat
	url = https://github.com/arter97/exfat-linux
